html {
    height: 100vh; 
}
body {
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(45deg, #667eea 50%, #764ba2 50%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 450px;
    height: 100vh;
}
.f,
.c {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 30px; 
} 
button {
    height: 80px;
    width: 150px;
}
input {
    height: 60px;
    width: 210px; 
    text-align: center; 
}
input,
button {
    border: 5px solid darkgreen;    
    border-radius: 15px;   
} 
.sr1,
.sr2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}