html {
    height: 100%; 
}
body {
    margin: 0;
    padding: 0; 
    height: 100vh; 
    background-image: linear-gradient(45deg, blue, hotpink);  
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 2em; 
    height: 100vh;
}
@media (min-width: 768px) {
    .container {
        gap: 7em; 
    }
    body {
        background-image: linear-gradient(45deg, #667eea 50%, #764ba2 50%); 
    }
}
@media (min-width: 1024px) {
    .container {
        gap: 15em; 
    }
    body {
        background-image: linear-gradient(45deg, #667eea 50%, #764ba2 50%); 
    }
}
.f,
.c {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    gap: 30px; 
} 
button {
    height: 4em;
    width: 10em;
}
input {
    height: 5em;
    width: 14em; 
    text-align: center; 
}
input,
button {
    border: 5px solid darkgreen;    
    border-radius: 15px;   
} 
.sr1,
.sr2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}